<div class="footer-section">
  <div class="container">
    <div class="row text-right">
      <div class="col-12"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="footer-section-1-heading">
          About Us
        </span>
        <p class="footer-section-1-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Exercitationem est labore accusantium natus veniam debitis
          esse aut deleniti, repellendus iusto adipisci. Modi, velit?
          Pariatur, aspernatur. Id corrupti eius doloremque possimus.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="footer-section-1-heading">
          Contact Us
        </span>
        <ul>
          <li>
            <span></span>
            <span>Monday-Sunday: 09:00 - 01:00</span>
          </li>
          <li>
            <span></span>
            <span>+92 403 2390752, +92 403 2390753</span>
          </li>
          <li>
            <span></span>
            <span>splash@gmail.com</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="footer-section-1-heading">
          Map
        </span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4814.280778698452!2d4.
          7174619562070434!3d52.89189535647566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4
          7cf463dd276f0f9%3A0x38a02940a0f85664!2sLandal+Beach+Resort+Ooghduyne!5e0!3m2!1sen!2s!4v1565048
          961813!5m2!1sen!2s"
          class="map"
          frameborder="0"
          style="border:0"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
