<div class="footer-section">
  <div class="footer-header container">
    <div class="row m-0 p-0">
      <div class="col-12">
        <ul class="social-media-links">
          <li class="i i-facebook">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-facebook-f"></span>
          </li>
          <li class="i i-twitter">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            <span class="fab fa-twitter"></span>
          </li>
          <li class="i i-google">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            <span class="fab fa-google-plus-g"></span>
          </li>
          <li class="i i-linkedin">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            <span class="fab fa-linkedin-in"></span>
          </li>
          <li class="i i-instagram">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            <span class="fab fa-instagram"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="footer-section-1-heading">
            About Us
          </div>
          <p class="footer-section-1-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem est labore accusantium natus veniam debitis
            esse aut deleniti, repellendus iusto adipisci. Modi, velit?
            Pariatur, aspernatur. Id corrupti eius doloremque possimus.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="footer-section-2-heading">
            Contact Us
          </div>
          <ul class="footer-contact-us">
            <li>
              <span><i class="far fa-clock"></i></span>
              <span>Monday-Sunday: 09:00 - 01:00</span>
            </li>
            <li>
              <span><i class="fas fa-mobile-alt"></i></span>
              <span>+92 403 2390752, +92 403 2390753</span>
            </li>
            <li>
              <span><i class="far fa-envelope-open"></i></span>
              <span>splash@gmail.com</span>
            </li>
            <li>
              <span><i class="fas fa-map-marker-alt"></i></span>
              <span>817-BB, abc ,xzy</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="footer-section-3-heading">
            Map
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4814.280778698452!2d4.
            7174619562070434!3d52.89189535647566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4
            7cf463dd276f0f9%3A0x38a02940a0f85664!2sLandal+Beach+Resort+Ooghduyne!5e0!3m2!1sen!2s!4v1565048
            961813!5m2!1sen!2s"
            class="map"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-footer container">
    <div class="row text-center">
      <div class="col-sm-12">
        &copy;Copyright. All rights reserved.
      </div>
    </div>
  </div>
</div>
