<div class="section-offers">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="center">
          <div class="section-heading">Here At Splash</div>
          <h2 class="heading-2">We Offer Best Services</h2>
          <p class="section-heading-info-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Atque necessitatibus nostrum neque. Labore, atque sequi nisi accusantium illum
            consequuntur pariatur praesentium quo?</p>
          <button class="offers-link">Check our offers</button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 align-self-center">
        <div class="row services-list-items justify-content-center">
          <div class="col-xl-6 col-lg-6 col-md-5 col-sm-5">
            <ul class="services-list">
              <li class="list-margin">
                <span class="list-style"><i class="fas fa-greater-than"></i></span>
                <span>Water Park</span>
              </li>
              <li class="list-margin">
                <span class="list-style"><i class="fas fa-greater-than"></i></span>
                <span>Water Sports</span>
              </li>
              <li class="list-margin">
                <span class="list-style"><i class="fas fa-greater-than"></i></span>
                <span>Accommodation</span>
              </li>
            </ul>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <ul class="services-list">
              <li class="list-margin">
                <span class="list-style"><i class="fas fa-greater-than"></i></span>
                <span>Resturants & Bars</span>
              </li>
              <li class="list-margin">
                <span class="list-style"><i class="fas fa-greater-than"></i></span>
                <span>Kids Playarea</span>
              </li>
              <li class="list-margin">
                <span class="list-style"><i class="fas fa-greater-than"></i></span>
                <span>Spa</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
