<div class="section-rooms">
  <div class="container section-info">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-heading white">Here At Splash</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading-2 white">We Offer Best Rooms</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="white section-info-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Atque necessitatibus nostrum neque. Labore, atque sequi nisi accusantium illum
            consequuntur pariatur praesentium quo? Sint consequatur voluptatum doloremque repellendus
            cupiditate consectetur inventore.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <button class="rooms-link">check our rooms</button>
      </div>
    </div>
  </div>

  <div class="section-rooms-content">
  <!-- Swiper -->
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let slide of slides">
          <div class="row slide-img-section">
            <div class="col-6">
              <img class="slide-img" [src]="slide.image" alt="image" />
            </div>
            <div class="col-6">
              <div class="container slide-info pt-4">
                <div class="row">
                  <div class="col-12">
                    <div class="section-heading"> {{slide.heading}} </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="slide-content"> {{slide.content}} </div>
                  </div>
                </div>
                <div class="row text-center align-self-end">
                  <div class="col-12">
                    <button class="rooms-link">check our rooms</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>

    <div class="container non-swiper-content">
      <div class="row mb-5 slide-img-section" *ngFor="let slide of slides">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0 m-0">
          <img class="non-swiper-slide-img" [src]="slide.image" alt="image" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0 m-0">
          <div class="container slide-info py-4">
            <div class="row">
              <div class="col-12">
                <div class="section-heading"> {{slide.heading}} </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="slide-content"> {{slide.content}} </div>
              </div>
            </div>
            <div class="row text-center align-self-end">
              <div class="col-12">
                <button class="rooms-link">check our rooms</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
